<div class="login">
  <div class="container">
    <div class="form">

    <h1>Sign up</h1>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true ,:placeholder => "Email"%>
		    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable),:placeholder => "Password" %>
		    <%= f.input :password_confirmation, required: true, :placeholder => "Password" %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign up",class: "btn-submit" %>
		  </div>
		<% end %>
		</div>
	</div>
</div>