<div class="login">
  	<div class="container">
    	<div class="form">
			<%= simple_form_for(@issue) do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.input :title %>
			    <%= f.input :description %>
			    <%= f.input :privacy %>
			    <%= hidden_field_tag 'project_id', @project.id %>
			  </div>

			  <div class="form-actions">
			    <%= f.button  :submit,class: "btn-submit" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
