<div class="login">
  	<div class="container">
    	<div class="form">
			<%= simple_form_for(@project) do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.input :title ,:placeholder => "Project Name"%>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit ,class: "btn-submit"%>
			  </div>
			<% end %>
		</div>
	</div>
</div>