<div class="container">
	<div class="col-md-4">
		<p id="notice"><%= notice %></p>

		<h3>
		  Project Title:
		  <%= @project.title %>
		</h3>
		<h3><a href="/projects/<%= @project.id %>/issues/new">Click </a>here to create a new issue</h3> <br>
		<%= link_to 'Edit', edit_project_path(@project) %> |
		<%= link_to 'Back', projects_path %>
	</div>
</div>