<div class="login">
	<div class="container">
		<div class="form">
      	<h1>Log in</h1>

		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true,:placeholder => "Email" %>
		    <%= f.input :password, required: false,:placeholder => "Password" %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Log in",class: "btn-submit"%>
		  </div>
		<% end %>

		</div>
	</div>
</div>