<!DOCTYPE html>

<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <title>Issuetracker</title>
  <body>

    <div class="header">
      <div class="container">
        <%= link_to root_path do %>
          <img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80">
        <% end %>
        <div class="nav pull-right">
          <% if current_user %> 
            <ul> 
              <li><%= current_user.email %></li> 
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li> 
            </ul> 
          <% else %> 
            <ul> 
              <li><a href="/users/sign_in">Login</a></li> 
              <li><a href="/users/sign_up">Signup</a></li> 
            </ul> 
          <% end %>



          
        </div>
      </div>
    </div>


    <%= yield %>

  </body>
</html>
